{% extends view_base_layout is defined ? view_base_layout : page_layout %}

{% trans_default_domain 'reset_password' %}

{%- block content -%}
    <h2 class="ez-login__form-headline">{{ 'ezplatform.reset_password.change_password'|trans|desc('Change password') }}</h2>
    <p>
        {{ 'ezplatform.reset_password.success'|trans({ '%login%': path('login') })
        |desc('Your password has been changed. You can now <a href="%login%">log in</a> to your account.')|raw }}
    </p>
{%- endblock content -%}
