{% extends view_base_layout is defined ? view_base_layout : page_layout %}

{% trans_default_domain 'forgot_password' %}

{%- block content -%}
        {{ 'ezplatform.forgot_password.success'|trans|raw
        |desc('<p>An email has been sent with instructions on how to reset your account password.</p>
            <p>If the email is slow to arrive, check your spam folders.</p>
            <p>If you don\'t receive an email, make sure you have entered the address you registered with, and check your spam folder.</p>
            <p>If you reset your password multiple times, only the most recent password reset link will be valid.</p>') }}
{%- endblock content -%}
